@font-face {
    font-family: logo;
    src: url(../fonts/logo.woff2);

}

@font-face {
    font-family: common;
    src: url(../fonts/common.woff2);

}


* {
    margin: 0;
    padding: 0;
    color: #dbdbdb;
}

body {
    background-color: #000000;
}

video {
    filter: grayscale(100%) contrast(200%);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: auto;
    z-index: 1;
    object-fit: cover;
    

}

.header {
    /* padding: 0 50px; */

    position: relative;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 768px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header__navbar {
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 2;
    max-width: 1366px;
    height: 30px;
    margin: auto;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
}

.header__logo {
    font-size: 56px;
    margin-right: 50px;
    font-family: logo;
}

.header__links a {
    color: white;
    text-decoration: none;
    margin-right: 25px;
    font-family: common;
    font-weight: 500;
}

.header__button {
    margin-left: auto;
    background-color: #ff5757;
    text-transform: uppercase;
    font-family: common;
    padding: 5px 12px;
}

.header__button a {
    color: white;
    text-decoration: none;
}

.header__content {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 768px;
    flex-direction: column;
}

.header__learn-more {
    text-decoration: none;
    font-family: common;
    font-size: 16px;
    border: 1px white solid;
    padding: 15px 20px;
    text-transform: uppercase;
}

.header__content p {
    font-family: common;
    text-align: center;
    max-width: 620px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
}


/* about styles */

.about {
    max-width: 700px;
    margin: 0 auto 200px;
    padding-top: 150px;
}

.about__header {
    font-family: common;
    font-size: 41px;
    margin-bottom: 25px;
}

.about__text {
    font-family: common;
    font-size: 24px;
    margin-bottom: 20px;
}

.about__button {
    display: inline-block;
    background-color: #ff5757;
    text-decoration: none;
    padding: 15px;
    margin-right: 15px;
}

.about__button a {
    text-decoration: none;
    font-family: common;
    font-size: 20px;
}

/* network styles */
.network {
    max-width: 940px;
    margin: 0 auto 250px;
}

.network__text {
    text-align: center;
}

.network__header {
    font-family: common;
    font-size: 41px;
    margin-bottom: 35px;
}

.network__desc {
    font-family: common;
    font-size: 20px;
    margin-bottom: 60px;
}

.network__statistic {
    display: flex;
}

.network__statistic-item {
    background-color: #d9d9d9;
    width: calc(100% / 3);
    text-align: center;
    padding: 30px 0 10px;
    border: 1px black solid;
}

.network__statistic-item p:nth-child(1) {
    font-size: 31.5px;
    color: #5271ff;
    font-family: common;
    margin-bottom: 10px;
}

.network__statistic-item p:nth-child(2) {
    color: #767676;
    font-family: common;
    font-size: 15px;
}

/* help styles */

.help {
    max-width: 900px;
    margin: 0 auto 200px;
}

.help__header {
    text-align: center;
    font-size: 41.5px;
    font-family: common;
    margin-bottom: 30px;
}

.help__desc {
    font-family: common;
    font-size: 20px;
    text-align: center;
    margin-bottom: 75px;
}

.help__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.help__item{
    margin-bottom: 50px;
    margin-right: 75px;
}

.help__item-header {
    font-size: 24px;
    font-family: common;
    margin-bottom: 20px;
}

.help__item-text{
    font-family: common;
    font-size: 16px;
}

/* partner styles */

.partner{
    max-width: 1200px;
    margin: 0 auto 200px;
}
.partner__sheets{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}

.partner__sheets-item{
    background-color: #dbdbdb;
    text-align: center;
border-radius: 35px;
max-width: 288px;
padding: 50px 25px 30px;
margin: 0 auto;
}

.partner__sheets-item img{
    width: 235px;
}

.partner__text{
    text-align: center;
}

.partner__header{
 font-size: 41.5px;
 font-family: common;   
 margin-bottom: 10px;
}

.partner__desc{
    font-size: 20px;
    font-family: common;
    margin-bottom: 10px;
}

.partner__link{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    background-color: #ff5757;
    padding: 15px 50px;
}

/* faq styles */

.faq {
    max-width: 1280px;
    margin: 0 auto 200px;
}

.faq__header {
    text-align: center;
    font-size: 41.5px;
    font-family: common;
    margin-bottom: 30px;
}

.faq__desc {
    font-family: common;
    font-size: 20px;
    text-align: center;
    margin-bottom: 75px;
}

.faq__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.faq__item{
    margin-bottom: 50px;
    margin-right: 75px;
}

.faq__item-header {
    font-size: 24px;
    font-family: common;
    margin-bottom: 20px;
}

.faq__item-text{
    font-size: 16px;
    font-family: common;
}

/* footer styles */

.footer{
    border-top: 1px solid #dbdbdb;
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 65px;
}

.footer__navbar a{
    text-decoration: none;
    font-family: common;
    font-size: 16px;
    margin-right: 20px;
}

.footer__socials img{
width: 30px;
height: 30px;
}